*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}

label{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #5ea9eb;
    text-align: center;
    padding: 50px;
}

.container{

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: aliceblue;
    max-width: 75%;
    padding-left: 5%;
    padding-top: 5%;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputs-buttons{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.inputs-buttons label{
    margin-top: 10px;
    font-size: 20px;
}
.inputs-buttons #birthday{
    height: 15%;
    width: 50%;
    border-radius: 10px;
}

.buttons{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    width: 25%;
    height: 25%;
    cursor: pointer;
    color: red;
    background-color: aqua;
    border-radius: 10px;
}

.output{
    margin: 0 auto;
}